{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <title>{% trans "Followize" %} &mdash; {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/media/base.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <meta name="description" content="Followize is a powerful, streamlined interface for Twitter. Cut through the noise, follow the conversation.">

    <script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="/media/ajaxiness.js"></script>
    {% if user %}
      <script type="text/javascript">
        var timezoneOffset = {{ user.utc_offset }}000;
      </script>
    {% endif %}

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="page">
      <div class="header">
        <h1><a href="/home/" title="Home">&#x272d; {% trans "Followize" %}</a></h1>

        {% if user %}
          <span class="userinfo">
            | <a href="http://twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>
            ({% blocktrans with user.friends_count as user_friends_count %}following {{ user_friends_count }}{% endblocktrans %})
            | <a href="/auth/clear/">{% trans "log out" %}</a>
          </span>
        {% endif %}

        <div class="right-nav">
          {% if user %}
            <a href="/post/" id="post">&#x270e; {% trans "Post" %}</a>
          {% else %}
            <a href="/auth/" id="auth">&#x2713; {% trans "Sign in with Twitter" %}</a>
          {% endif %}
        </div>
      </div>

      {% comment %}
        <div class="message">
          Followize now supports OAuth, sign in without handing over your Twitter password
          &mdash; @<a href="http://twitter.com/afternoon">afternoon</a>
        </div>
      {% endcomment %}

      {% block body %}{% endblock %}

      <div class="footer">
        {% blocktrans %}
          <p><a href="/">Followize</a> was made by <a 
            href="http://aftnn.org/">Ben Godfrey</a> and is powered by <a 
            href="http://twitter.com/">Twitter</a> and <a 
            href="http://code.google.com/appengine/">Google App Engine</a>.</p>
        {% endblocktrans %}
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7040466-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
    </script>
  </body>
</html>
