/* tag reset */

html, body, form, img, iframe { margin:0; border:0; padding:0; }
body { background-color:white; }
body, th, td, input, textarea, select { font-family:helvetica,arial,sans-serif;
    font-size:small; line-height:1em; }
th, td { vertical-align:top; text-align:left; }
img { vertical-align:middle; }

/* default links */

a:link { color:#06c; background-color:transparent; }
a:visited { color:#039; background-color:transparent; }
a:hover { color:#06c; background-color:#eef; }
a:active { color:white; background-color:#06c; }

/* content typography */

h1, h2, h3, h4, h5, h6 { font-size:small; font-weight:bold; font-style:normal;
    margin-top:1em; }
p { padding:0; margin:1em 0; }
li { margin-bottom:0.7em; }
ul li { list-style-type:square; }
dt { font-weight:bold; margin-top:0.7em; }

/* layout */

.page { margin:20px 40px; }
.header { font-size:small; padding-bottom:0.5em;
    border-bottom:2px solid #eee; margin-bottom:0.5em; position:relative; }
.header h1 { display:inline; margin:0; }

.userinfo { font-size:x-small; font-weight:normal; color:#777; }
.userinfo a { font-weight:bold; }
.right-nav { position:absolute; right:0; top:0; }

.message { background-color:#f9f9f9; padding:3px; text-align:center;
    margin-bottom:0.7em; color:#666; font-style:italic; }

.footer { margin-top:1em; border-top:2px solid #eee; padding-top:0.5em;
    font-size:x-small; }
.footer p { margin:0; }

/* useful styles */

.clear { clear:both; }
.error { color:red; }
.note { color:#777; font-size:x-small; }
.ok { color:#0f0; }

/* forms */

.form-line, .form-line-choice { margin:0 0 0.3em; clear:both; }
.form-line-choice { margin-top:0.3em; }
.form-field { margin-top:1em; }
label { float:left; width:5em; margin-right:0.7em; padding-top:0.5em; }
label.choice { float:none; width:auto; }
.reqicon { color:red; }
.form-note { color:gray; font-size:0.85em; }
input, textarea, select { font-size:1em; }
.form-submit { margin-top:0.5em; margin-bottom:0.5em; }
.form-line-choice { margin-left:5.5em; }
.form-hidden { display:none; }

.form-line ul.errorlist { margin:3px 0 0 5.9em; padding:0; }
.form-line ul.errorlist li { color:red; margin:0; padding:0;
    list-style-type:none; }

/* splash */

.splash { text-align:center; }
.splash h2 { font-size:xx-large; margin:1.3em 0 0; }
.byline { margin:1.5em 0; font-style:italic; color:#777; }

.features { padding:0 0 0 48px; }
.feature { width:260px; padding:0 10px; float:left; }
.feature p { color:#777; margin:0; font-size:x-small; }
.cl { clear:both; }

.important-instruction { font-weight:bold; margin:1.em 0 1.3em 0; }
.auth-wrap { padding:14px 0; }
a.auth { background-color:#06c; border:1px solid #039; color:white;
    padding:14px 22px; font-size:x-large; text-decoration:none;
    -moz-border-radius:10px; -webkit-border-radius:10px; 
    text-shadow:2px 2px 0px #039; }
a.auth:hover { text-decoration:underline; }
.auth-note { color:#777; font-size:x-small; font-style:italic;
    margin:1.7em 0 3em 0; }

/* home */

#data { padding:0; margin:0; border:0; }
#data td { padding:5px; }
.user td { border-top:1px solid #eee; }
.first td { border-top:none; }
.me { background-color:#ffc; }
.me a:hover { background-color:#eeb; }
.me a:active { background-color:#960; }
.reply_to_me { background-color:#eee; }
.reply_to_me a:hover { background-color:#ddd; }
.reply_to_me a:active { background-color:#666; }
.me .status, .reply_to_me .status { font-weight:bold; }
.profile_image { padding-left:0; }
.name { font-weight:bold; }
.created_at, .source, .reply { font-size:x-small; color:#777; }
.send_dm { padding-right:0; }

.send_reply, .send_retweet, .send_dm { font-size:x-small;
    padding-top:0.7em !important; }

/* pagination */

.pages { margin:0; padding:0; text-align:center; position:relative; }
.top .pages { margin-bottom:0.5em; }
.bottom .pages { margin-top:0.5em; }
.pages li { display:inline; padding:0.3em; background-color:#f9f9f9; }
.pages li a:hover { background-color:#ddd; }
.pages li a:active { background-color:#666; }
.pages li.previous { position:absolute; left:0; top:-0.3em; }
.pages li.next { position:absolute; right:0; top:-0.3em; }
.pages li span { font-weight:bold; }

/* post entry on home */

#post_entry { display:none; border-bottom:2px solid #eee; padding:0.5em;
    margin:-0.5em 0 0.65em; position:relative; }
#post_entry h2 { margin-top:0; }
#post_entry .form-submit { margin-bottom:0.3em; }
.close { position:absolute; right:0; top:0.5em; font-size:x-small; }

/* inline replies */

.original td { padding:3px; }
.original .status { padding-left:3em; }
.loading { color:#777; }

/* inline timeline */

.old .status, .old .send_reply, .old .send_dm { border-top:1px solid #f6f6f6; }

/* post */

#id_status { width:99.4%; }
.veryverywide label { display:none; }
.veryverywide .form-line ul.errorlist { margin:3px 0 0; padding:0; }
.veryverywide .form-line ul.errorlist li { color:red; margin:0; padding:0;
    list-style-type:none; }
