{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block extrahead %}
  <script type="text/javascript">
    // set up
    twitter.init("{{ oauth_token }}", "{{ oauth_consumer_key }}");
    fw.state.init("{{ screen_name }}");

    // keep a handle on automatic refresh
    var refreshTimer;

    // load some tweets!
    $(document).ready(fw.view.init);
  </script>
{% endblock %}

{% block userinfo %}
  | <a id="current_user" href="http://twitter.com/{{ screen_name }}" target="_blank" title="Open your profile on Twitter">{{ screen_name }}</a>
    (following {{ friends_count }})
  | <a id="refresh" href="#" title="Refresh tweets (keyboard shortcut: R)">refresh</a>
  | <a id="logout" href="/auth/clear/" title="Log out of Followize">log out</a>
{% endblock %}

{% block secondarynav %}
  <a href="/post/" id="post" title="Post a message to Twitter (keyboard shortcut: P)">&#x270e; Post</a>
{% endblock %}

{% block body %}
  <div id="post_entry">
    {% include "followize/post_entry.html" %}

    <div id="close_wrap"><a id="close" href="#" title="Hide post form (keyboard shortcut: Esc)">Close</a></div>
  </div>

  <div id="content">
    <div class="big_loading">Loading tweets...</div>
  </div>
{% endblock %}
