{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block extrahead %}
  <script type="text/javascript">
    // set up
    twitter.init("{{ oauth_token }}", "{{ oauth_consumer_key }}");
    fw.state.init("{{ screen_name }}");

    // keep a handle on automatic refresh
    var refreshTimer;

    // load some tweets!
    $(document).ready(fw.view.init);
  </script>
{% endblock %}

{% block userinfo %}
  | <a id="current_user" href="http://twitter.com/{{ screen_name }}" target="_blank">{{ screen_name }}</a>
    (following {{ friends_count }})
  | <a id="refresh" href="#" accesskey="r">refresh</a>
  | <a id="logout" href="/auth/clear/">log out</a>
{% endblock %}

{% block secondarynav %}
  <a href="/post/" id="post" accesskey="p">&#x270e; Post</a>
{% endblock %}

{% block body %}
  <div id="post_entry">
    {% include "followize/post_entry.html" %}

    <div id="close_wrap"><a id="close" href="#">Close</a></div>
  </div>

  <div id="content">
    <div class="big_loading">Loading tweets...</div>
  </div>
{% endblock %}
