{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block extrahead %}
  <script type="text/javascript">
    // keep a handle on automatic refresh
    var refreshTimer;

    // set up twitter params (static vars)
    twitter.init({
      oauthToken:       "{{ oauth_token }}",
      oauthConsumerKey: "{{ oauth_consumer_key }}"
    });

    // load some tweets!
    $(document).ready(function () {
        refreshTimer = showFollowingRepeatedly();
    });
  </script>
{% endblock %}

{% block body %}
  <div id="content">
    <p>Loading...</p>
  </div>
  <script type="text/javascript">
  </script>
{% endblock %}
