{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Hello!" %}{% endblock %}

{% block body %}
  <h2>{% trans "Followize is a trimmed down, efficient application for reading tweets." %}</h2>

  <p class="form-title">{% trans "Log in with your Twitter account." %}</p>

  <form action="/login/" method="post">
    {{ form.as_div }}
    <div class="form-submit">
      <input type="submit" value="{% trans "Log in" %}">
    </div>
  </form>

  <p class="note">{% trans "We only use your Twitter details to do things you request. We remove your details from our system when you log out." %}</p>
{% endblock %}
