{% load i18n %}
{% if current_page.has_other_pages %}
  <ul class="pages">
    {% if current_page.has_previous %}
      <li class="previous">&larr; <a href="/home/?page={{ current_page.previous_page_number }}">{% trans "Chatterboxes" %}</a></li>
    {% endif %}
    {% for page in pages.page_range %}
      <li>{% ifequal page current_page.number %}<span>{% trans "Page" %} {{ page }}</span>{% else %}<a href="/home/?page={{ page }}">{% trans "Page" %} {{ page }}</a>{% endifequal %}</li>
    {% endfor %}
    {% if current_page.has_next %}
      <li class="next"><a href="/home/?page={{ current_page.next_page_number }}">{% trans "Lurkers" %}</a> &rarr;</li>
    {% endif %}
  </ul>
{% endif%}
