{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <title>{% trans "Followize" %} &mdash; {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Followize is a powerful, streamlined interface for Twitter. Cut through the noise, follow the conversation.">

    <link rel="stylesheet" type="text/css" href="/media/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/jquery.mustache-0eeab10.min.js"></script>
    <script type="text/javascript" src="/media/jquery.jsonp-1.1.3.min.js"></script>
    <script type="text/javascript" src="/media/sha1.js"></script>
    <script type="text/javascript" src="/media/oauth.js?oauth_timestamp={% now "U" %}"></script>
    <script type="text/javascript" src="/media/followize.js"></script>

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="page">
      <div class="header">
        <h1><a href="/home/" title="Home">{% trans "Followize" %}</a></h1>
      </div>

      {% block body %}{% endblock %}

      <div class="footer">
        {% blocktrans %}
          <p><a href="/">Followize</a> was made by <a 
            href="http://aftnn.org/">Ben Godfrey</a> and is powered by <a 
            href="http://twitter.com/">Twitter</a> and <a 
            href="http://code.google.com/appengine/">Google App Engine</a>.</p>
        {% endblocktrans %}
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-7040466-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
    </script>
  </body>
</html>
